@font-face {
	font-family: 'Sf';
	src: url('/fonts/GalaxyAltOutline.ttf');
}

@font-face {
	font-family: 'Fg';
	src: url('/fonts/FranklinGothicDemi.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
    outline: none;
    overflow: hidden;
}

body {
	background: url(../img/background.png);
	height: 100vh;
	width: 100%;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10vh auto 0;
	width: 80%;
    height: 80vh;
	perspective-origin: center 300px;
    perspective: 800px;
}

.text {
	font-family: 'Fg', sans-serif;
	color: yellow;
    font-size: 42px;
}

.main h1 {
	opacity: 0;
	font-family: 'Sf', sans-serif;
	text-transform: uppercase;
	font-size: 200px;
	color: yellow;
	text-align: center;
    animation: logo 25s linear;
	animation-iteration-count: 1;
    animation-delay: 18s;
    animation-timing-function: ease-in;
}

.promo {
	position: absolute;
	opacity: 0;
	color: white;
	animation: promo 11s linear;
    animation-iteration-count: 1;
    animation-delay: 5s;
}

.crawl {
	width: 80%;
    text-align: center;
    opacity: 0;
    animation: crawl 25s linear;
    animation-iteration-count: 1;
    animation-delay: 25s;
}

@-webkit-keyframes promo {
	from {
		opacity: 0;
	}
    20% {
		opacity: 1;
	}
    80% {
		opacity: 1;
	}
    to {
		opacity: 0;
	}
}

@-webkit-keyframes logo {
    from {
		opacity: 1;
	}
    to {
		transform: translateZ(-10000px) translateY(-2000px); 
		opacity: 0;
	}
}

@-webkit-keyframes crawl {
    from {
		transform: rotateX(70deg) translateZ(250px) translateY(700px);
		opacity: 1;
	}
    60%  { transform: rotateX(70deg) translateZ(250px) translateY(-1200px);  opacity: 1; }
    to {
		transform: rotateX(70deg) translateZ(250px) translateY(-2500px);
		opacity: 0;
	}
}